.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-description {
  padding: 16px;
}
